/* Menu principal par onglet */

#tabnav {
	margin: 0;
	padding: 0 0 20px 160px;
	border-bottom: 1px solid #de8d32;
	}

#tabnav li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	}

#tabnav a:link, #tabnav a:visited {
	float: left;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 10px 4px 10px;
	text-decoration: none;
	color: #334c60;
	}

#tabnav li.active a:link, #tabnav li.active a:visited, #tabnav a:hover {
	border-bottom: 4px solid #de8d32;
	padding-bottom: 2px;
	background: #fff;
	color: #de8d32;
	}

#tabnav a:hover {
	color: #de8d32;
	}

