<center>
  <div class='slogan'>Initiation et perfectionnement &agrave; la pratique de la voile de loisir et sportive</div>

  <div>
    <div id='marine-left'>
      <%= image_tag('port_toga.jpg', :class=> 'photo_marine') -%>
      Port Toga
    </div>
    <div id='marine-right'>
      <%= image_tag('pietracorbara.jpg', :class=> 'photo_marine') -%>
      Pietracorbara
    </div>
  </div>

  <div class='adresse'>
    Cercle Nautique Mare e Vela,<br>
    Port de plaisance de Toga,<br>
    20200 Ville di Pietrabugno<br>
    Tel : 04 95 31 41 83<br>
    Port : 06 17 52 38 66<br>
    Email : cnmarevela@aol.fr<br>
  </div>
</center>
